In [1]:
import json
from pprint import pprint

In [2]:
import ijson
import pandas as pd

In [3]:
a = open('louis.json')

In [9]:
#'KR is for Korea
#4 for derivatives
#'Then type 1 for future ,2 for call, 3 for put
#'0 no clue
#'Then 1 for maxi or 5 for mini
#'Then 2 letters expiry code, 1 one is year, second month
#'Then 3 digits for the strike
#'Then 1 for isin checksum

In [10]:
data = json.load(open('louis.json'))

In [56]:
#aPD = pd.DataFrame.from_records(data)

In [57]:
#books = aPD.book.drop_duplicates().str.split('01')

In [61]:
#books = aPD.book.drop_duplicates() #check 1 if maxi 5 if mini

In [31]:
#aTest = books.to_frame

In [83]:
# import datetime
# print(
#     datetime.datetime.fromtimestamp(
#         int(1511139600004862)
#     ).strftime('%Y-%m-%d %H:%M:%S')
# )

OSError: [Errno 22] Invalid argument

In [87]:
# from datetime import datetime
# datetime.fromtimestamp(1511139600.004862)

datetime.datetime(2017, 11, 20, 2, 0, 0, 4862)

In [89]:
# datetime.utcfromtimestamp(1511139600004862).strftime('%Y-%m-%dT%H:%M:%SZ')

OSError: [Errno 22] Invalid argument

In [106]:
books = dict()

In [131]:
from dateutil import tz
def utcToRightTMZ(aUTCTMZ):
    
    from_zone = tz.gettz('UTC')
    to_zone = tz.gettz('Asia/Hong_Kong')
    
    aUTCTMZ = aUTCTMZ.replace(tzinfo=from_zone)
    localTimeStamp = aUTCTMZ.astimezone(to_zone)
    
    return localTimeStamp

In [133]:
counter = 0
for tick in data:
    counter = counter + 1
    myBook = tick["book"]
    if aBook[5] == '1':   #let's forget about mini futures
        print(myBook)
        timeStamp = utcToRightTMZ(datetime.utcfromtimestamp(tick["created"]/1000000))
        print(timeStamp)
        tick["created"] = timeStamp
        tick["received"] = utcToRightTMZ(datetime.utcfromtimestamp(tick["received"]/1000000))
        
        books[myBook] = tick #building books

        

        if counter > 10 :
            break

KR4201MC3404
2017-11-20 09:00:00.001999+08:00
KR4101N60009
2017-11-20 09:00:00.004862+08:00
KR4301MC3320
2017-11-20 09:00:00.022885+08:00
KR4301MC3221
2017-11-20 09:00:00.041156+08:00
KR4301MC3304
2017-11-20 09:00:00.041254+08:00
KR4301MC3122
2017-11-20 09:00:00.044899+08:00
KR4301MC3270
2017-11-20 09:00:00.050176+08:00
KR4101MC0005
2017-11-20 09:00:00.050835+08:00
KR4201MC3677
2017-11-20 09:00:00.060865+08:00
KR4105MC0001
2017-11-20 09:00:00.061789+08:00
KR4105MC0001
2017-11-20 09:00:00.061789+08:00

{'KR4101MC0005': {'ask_price_0': 335.05,
  'ask_price_1': 335.1,
  'ask_price_2': 335.15,
  'ask_price_3': 335.2,
  'ask_price_4': 335.25,
  'ask_volume_0': 78,
  'ask_volume_1': 141,
  'ask_volume_2': 169,
  'ask_volume_3': 103,
  'ask_volume_4': 147,
  'bid_price_0': 335.0,
  'bid_price_1': 334.95,
  'bid_price_2': 334.9,
  'bid_price_3': 334.85,
  'bid_price_4': 334.8,
  'bid_volume_0': 64,
  'bid_volume_1': 98,
  'bid_volume_2': 117,
  'bid_volume_3': 143,
  'bid_volume_4': 163,
  'book': 'KR4101MC0005',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 50835, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 51330, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4101N60009': {'ask_price_0': 333.55,
  'ask_price_1': 333.6,
  'ask_price_2': 334.75,
  'ask_price_3': 359.95,
  'ask_price_4': 0.0,
  'ask_volume_0': 1,
  'ask_volume_1': 4,
  'ask_volume_2': 10,
  'ask_volume_3': 10,
  'ask_volume_4': 0,
  'bid_price_0': 333.15,
  'bid_price_1': 323.9,
  'bid_price_2': 323.6,
  'bid_price_3': 0.0,
  'bid_price_4': 0.0,
  'bid_volume_0': 4,
  'bid_volume_1': 1,
  'bid_volume_2': 1,
  'bid_volume_3': 0,
  'bid_volume_4': 0,
  'book': 'KR4101N60009',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 4862, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 5361, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4105MC0001': {'ask_price_0': 335.04,
  'ask_price_1': 335.06,
  'ask_price_2': 335.08,
  'ask_price_3': 335.1,
  'ask_price_4': 335.12,
  'ask_volume_0': 8,
  'ask_volume_1': 29,
  'ask_volume_2': 131,
  'ask_volume_3': 43,
  'ask_volume_4': 4,
  'bid_price_0': 335.0,
  'bid_price_1': 334.98,
  'bid_price_2': 334.96,
  'bid_price_3': 334.94,
  'bid_price_4': 334.92,
  'bid_volume_0': 33,
  'bid_volume_1': 325,
  'bid_volume_2': 9,
  'bid_volume_3': 10,
  'bid_volume_4': 12,
  'book': 'KR4105MC0001',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 61789, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 62469, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4201MC3404': {'ask_price_0': 1.57,
  'ask_price_1': 1.58,
  'ask_price_2': 1.59,
  'ask_price_3': 1.6,
  'ask_price_4': 1.61,
  'ask_volume_0': 49,
  'ask_volume_1': 141,
  'ask_volume_2': 159,
  'ask_volume_3': 130,
  'ask_volume_4': 46,
  'bid_price_0': 1.56,
  'bid_price_1': 1.55,
  'bid_price_2': 1.54,
  'bid_price_3': 1.53,
  'bid_price_4': 1.52,
  'bid_volume_0': 31,
  'bid_volume_1': 47,
  'bid_volume_2': 154,
  'bid_volume_3': 152,
  'bid_volume_4': 164,
  'book': 'KR4201MC3404',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 1999, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 2480, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4201MC3677': {'ask_price_0': 0.01,
  'ask_price_1': 0.02,
  'ask_price_2': 0.03,
  'ask_price_3': 0.04,
  'ask_price_4': 0.0,
  'ask_volume_0': 2588,
  'ask_volume_1': 9040,
  'ask_volume_2': 1521,
  'ask_volume_3': 15,
  'ask_volume_4': 0,
  'bid_price_0': 0.0,
  'bid_price_1': 0.0,
  'bid_price_2': 0.0,
  'bid_price_3': 0.0,
  'bid_price_4': 0.0,
  'bid_volume_0': 0,
  'bid_volume_1': 0,
  'bid_volume_2': 0,
  'bid_volume_3': 0,
  'bid_volume_4': 0,
  'book': 'KR4201MC3677',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 60865, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 61327, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4301MC3122': {'ask_price_0': 0.17,
  'ask_price_1': 0.18,
  'ask_price_2': 0.19,
  'ask_price_3': 0.2,
  'ask_price_4': 0.21,
  'ask_volume_0': 1013,
  'ask_volume_1': 1515,
  'ask_volume_2': 957,
  'ask_volume_3': 695,
  'ask_volume_4': 247,
  'bid_price_0': 0.16,
  'bid_price_1': 0.15,
  'bid_price_2': 0.14,
  'bid_price_3': 0.13,
  'bid_price_4': 0.12,
  'bid_volume_0': 973,
  'bid_volume_1': 1185,
  'bid_volume_2': 1059,
  'bid_volume_3': 1115,
  'bid_volume_4': 345,
  'book': 'KR4301MC3122',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 44899, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 45446, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4301MC3221': {'ask_price_0': 0.53,
  'ask_price_1': 0.54,
  'ask_price_2': 0.55,
  'ask_price_3': 0.56,
  'ask_price_4': 0.57,
  'ask_volume_0': 41,
  'ask_volume_1': 517,
  'ask_volume_2': 613,
  'ask_volume_3': 446,
  'ask_volume_4': 361,
  'bid_price_0': 0.52,
  'bid_price_1': 0.51,
  'bid_price_2': 0.5,
  'bid_price_3': 0.49,
  'bid_price_4': 0.48,
  'bid_volume_0': 513,
  'bid_volume_1': 531,
  'bid_volume_2': 425,
  'bid_volume_3': 373,
  'bid_volume_4': 285,
  'book': 'KR4301MC3221',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 41156, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 41723, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4301MC3270': {'ask_price_0': 1.17,
  'ask_price_1': 1.18,
  'ask_price_2': 1.19,
  'ask_price_3': 1.2,
  'ask_price_4': 1.21,
  'ask_volume_0': 39,
  'ask_volume_1': 133,
  'ask_volume_2': 161,
  'ask_volume_3': 193,
  'ask_volume_4': 143,
  'bid_price_0': 1.16,
  'bid_price_1': 1.15,
  'bid_price_2': 1.14,
  'bid_price_3': 1.13,
  'bid_price_4': 1.12,
  'bid_volume_0': 63,
  'bid_volume_1': 163,
  'bid_volume_2': 184,
  'bid_volume_3': 153,
  'bid_volume_4': 120,
  'book': 'KR4301MC3270',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 50176, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 50709, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4301MC3304': {'ask_price_0': 1.71,
  'ask_price_1': 1.72,
  'ask_price_2': 1.73,
  'ask_price_3': 1.74,
  'ask_price_4': 1.75,
  'ask_volume_0': 18,
  'ask_volume_1': 40,
  'ask_volume_2': 130,
  'ask_volume_3': 155,
  'ask_volume_4': 121,
  'bid_price_0': 1.7,
  'bid_price_1': 1.69,
  'bid_price_2': 1.68,
  'bid_price_3': 1.67,
  'bid_price_4': 1.66,
  'bid_volume_0': 22,
  'bid_volume_1': 119,
  'bid_volume_2': 158,
  'bid_volume_3': 158,
  'bid_volume_4': 121,
  'book': 'KR4301MC3304',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 41254, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 41814, tzinfo=tzfile('Hongkong')),
  'type': 'tick'},
 'KR4301MC3320': {'ask_price_0': 2.47,
  'ask_price_1': 2.48,
  'ask_price_2': 2.49,
  'ask_price_3': 2.5,
  'ask_price_4': 2.51,
  'ask_volume_0': 15,
  'ask_volume_1': 21,
  'ask_volume_2': 109,
  'ask_volume_3': 114,
  'ask_volume_4': 120,
  'bid_price_0': 2.46,
  'bid_price_1': 2.45,
  'bid_price_2': 2.44,
  'bid_price_3': 2.43,
  'bid_price_4': 2.42,
  'bid_volume_0': 14,
  'bid_volume_1': 19,
  'bid_volume_2': 146,
  'bid_volume_3': 96,
  'bid_volume_4': 96,
  'book': 'KR4301MC3320',
  'created': datetime.datetime(2017, 11, 20, 9, 0, 0, 22885, tzinfo=tzfile('Hongkong')),
  'received': datetime.datetime(2017, 11, 20, 9, 0, 0, 23441, tzinfo=tzfile('Hongkong')),
  'type': 'tick'}}